@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    text-align: center;
    padding-top: 80px;
    
    height: 250px;
}

header > h1 {
    color: white;
    font-size: 7em;
}

header > p {
    color: white;
    font-size: 1.3em;
    padding-top: 30px ;
}

* {
    margin: 0px;
    padding: 0px;
}
main > p {
    text-align: center;
    
}