@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #914838, #D99C79, #ebcaab);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(90, 33, 20, 0.815) ;
}

h1 {
    color: rgb(218, 129, 46);
    text-align: center;
    text-shadow: 1px 1px 3px rgb(140, 58, 39) ; 
}


h2 {
    color: #c26955;

}

p {
    text-align: justify;
}