@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87e4b1;

}

header {

    background: linear-gradient(to bottom, #3ddc84, #1b5e3b);
    text-align: center;
    color: white;
    padding: 30px 20px 5px 20px;

}

header h1 {
    font-size: 30px;
    margin: 0;
}

header p {
    margin: 20px 0 20px 0;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav>a:hover {
    text-decoration: underline;
    background-color: #3ddc84;
}

main {

    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 1px black
}

main p {
    text-align: justify;
    text-indent: 30px;
}

h2 {
    color: green;
    font-family: 'android' Arial, Helvetica, sans-serif;
  
}

.h22 {
    background: linear-gradient(to bottom, #b5cfcb, #eaeceb);
    padding: 0px 0px 0px 10px;
     font-family: 'android' Arial, Helvetica, sans-serif;
    ;
}

.robos {
    width: 100%;
    text-align: center;
}

.robos img {
    width: 100%;
    /* ocupa toda a largura */
    max-width: 900px;
    /* limite para não esticar demais */
    height: auto;
    /* mantém proporção */
}

.surge {
    background: linear-gradient(to bottom, #b5cfcb, #eaeceb);
    padding: 0px 0px 0px 10px;
    ;

}

.irina {
    width: 100%;
    text-align: center;
}

.irina img {
    width: 100%;
    /* ocupa toda a largura */
    max-width: 1000px;
    /* limite para não esticar demais */
    height: auto
}

.bugdroid {
    text-align: center;
    width: 100%;
}

.video {
    justify-content: center;
    text-align: center;
}

h3 {
    color: black;
}

.video {
    margin: 40px auto;
    display: block;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
   
}

